/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2{
    color: cyan;
}

p{
    color: aqua;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card{
    position: relative;
    width: 10vh;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #25008d, #231e32);
}

.container .card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    transition: 0.5s;
}

.container .card:hover img{
    left: 73%;
    height: 500px;
}

.container .card .content{
    position: relative;
    width: 50%;
    left: 0;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.container .card .content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.container .card .content p{
    color: #fff;
} */
